* {
    color: #AAAAAA;
    background-color: #223344;
    margin: 0;
    padding: 0;


}

.game-frame {
    display: flex;
    justify-content: center;
    align-items: center;
}

.game-box {
    height: 500px;
    width: 50%;
    display: flex;
    flex-wrap:wrap;
    flex-direction: row;
    justify-content: space-evenly;

}

.grid-cell {
    background-color: #556677;
    border: solid 1px #000000;
    flex: 1 0 5.5%;
    /* flex: 1 0 44%; */


}

