* {
    color: #AAAAAA;
    background-color: #223344;
    margin: 0;
    padding: 0;


}

.game-frame {
    margin: 50px;
    display: flex;
    /* align-items: center; */
    flex-direction: column;
    flex-wrap: wrap;
}

.game-box {
    
    margin: 5px;
    min-height: 500px;

    display: flex;
    flex-wrap:wrap;
    border: solid 20px #000022;
    
    flex-direction: row;
    justify-content: space-evenly;

}

.grid-cell {
    background-color: #99AABB; 
    flex-grow: 1;
    flex-shrink: 0;
    min-height: 5px;
    min-width: 5px; 
}

.control-box {
    display: flex;
    margin-top: 50px;;
}

.control {
    background-color: #ccbebe;
    color: #000000;
    margin: 10px 0;
    height: 50px;
    width: 150px;
    border-radius: 12px;
}

/* .reset {
    align-self: flex-start;
}

.pen-large {
    align-self: flex-start;
} */